﻿@{
    ViewBag.Title = "Veyo Application";
}

<div class="jumbotron">
    <h1>Veyo App</h1>
    <p class="lead">Veyo App is for showing the car movement through the city.</p>
</div>

<div class="row">
    <div class="panel panel-primary city">
        <div class="panel-heading">Tracking Car</div>
        <div class="panel-body">
            <span class="destination"><i class="fa fa-university fa-2x"></i></span>
            <span class="passenger"><i class="fa fa-female fa-2x"></i></span>
            <span class="car"><i class="fa fa-taxi fa-2x"></i></span>
        </div>
    </div>
</div>
<div class="row">
    <button class="btn btn-primary startButton">Start</button>
</div>